.footer {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  text-align: center;

  &__previous,
  &__next,
  &__pageNumber {
    padding: 10px;
  }

  &__previous,
  &__next {
    background: none;
    border: 0;
    outline: 0;
  }
}
