.footer {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  text-align: center;

  [disabled] {
    visibility: hidden;
  }

  &__btn,
  &__pageNumber {
    padding: 10px;
  }

  &__btn {
    background: none;
    border: 0;
    outline: 0;
  }
}
